# Python Course - Tutorial 10

### Exercise 1: Tidy Data

#### Overview: Wickham's Tidy Data Framework
Hadley Wickham's seminal paper on **Tidy Data** focuses on structuring datasets to facilitate analysis. The principles are:
1. **Each variable forms a column.**
2. **Each observation forms a row.**
3. **Each type of observational unit forms a table.**

Tidy datasets ensure a consistent structure, simplifying manipulation, visualization, and modeling. However, real-world datasets often deviate from this structure, requiring transformation.

#### Common Problems in Untidy Data
Wickham identifies five types of untidy data:
1. **Column headers are values, not variable names.**
2. **Multiple variables are stored in one column.**
3. **Variables are stored in both rows and columns.**
4. **Multiple types of observational units are stored in the same table.**
5. **One type of observational unit is spread out over multiple tables or files**

In [ ]:
# Importing pandas
import pandas as pd

### Exercise 1.1: Column Headers Are Values, Not Variable Names - Part 1

In the Pew dataset column headers represent income brackets rather than variable names. Our goal is to restructure the data into a tidy format, with columns for `religion`, `income`, and `frequency`.

#### Tasks:
1. Load the Pew dataset from a CSV file.
2. Inspect the data to identify untidy elements.
3. Use Pandas' `melt` function to:
   - Transform the income brackets (column headers) into a new column named `income`.
   - Ensure the original `religion` column remains intact.
   - Create a new column named `frequency` to hold the corresponding values.
4. Sort the resulting tidy dataset by `religion` (alphabetically) and `frequency` (numerically).


#### Dataset Preview:

The untidy data might look like this:

| religion           | \<$10k | \$10–20k | \$20–30k | \$30–40k | \$40–50k | \$50–75k |
|--------------------|--------|---------|---------|---------|---------|---------|
| Agnostic           | 27     | 34      | 60      | 81      | 76      | 137     |
| Atheist            | 12     | 27      | 37      | 52      | 35      | 70      |
| Buddhist           | 27     | 21      | 30      | 34      | 33      | 58      |
| Catholic           | 418    | 617     | 732     | 670     | 638     | 1116    |
| Don’t know/refused | 15     | 14      | 15      | 11      | 10      | 35      |

Using `pd.melt`, we can achieve the following tidy dataset:

| religion           | income   | frequency |
|--------------------|----------|-----------|
| Agnostic           | \<\$10k  | 27        |
| Agnostic           | \$10–20k | 34        |
| Agnostic           | \$20–30k | 60        |
| Atheist            | \<\$10k  | 12        |
| Atheist            | \$10–20k | 27        |
| Buddhist           | \<\$10k  | 27        |

In [ ]:
pew = pd.read_csv("data/pew_sample.csv")

# Your solution

### Exercise 1.1: Column Headers Are Values, Not Variable Names - Part 2

The **Billboard dataset** is stored in a wide format. The data contains weekly rankings (`wk1`, `wk2`, ..., `wk75`) spread across columns. Your task is to transform it into a **long format** where each row corresponds to a specific song's ranking in a particular week.

#### Tasks:
1. **Inspect the Dataset**: Familiarize yourself with the structure of the Billboard dataset. Identify columns to retain (e.g., `year`, `artist`, `track`, `time`, `date.entered`) and those to melt (e.g., `wk1`, `wk2`, ..., `wk75`).
2. **Use `pd.melt`**:
   - Reshape the dataset so that all weekly ranking columns (`wk1`, `wk2`, ..., `wk75`) are combined into a single `week` column.
   - Create a new column `rank` to hold the corresponding ranking values.
3. **Clean Up the Week Column**:
   - Use string methods to extract only the numeric part of the week values (e.g., `wk1` → `1`).
   - Convert the `week` column into an integer type for easier manipulation.

**Hint:** Apply the `.str.replace()` or `.str.extract()` methods to clean up the `week` column.

#### Dataset Preview:
**Original Untidy Data (Wide Format)**:

| year | artist       | track                    | time | date.entered | wk1 | wk2 | wk3 | ... | wk75 |
|------|--------------|--------------------------|------|--------------|-----|-----|-----|-----|------|
| 2000 | 2 Pac        | Baby Don’t Cry           | 4:22 | 2000-02-26   | 87  | 82  | 72  | ... | NaN  |
| 2000 | 2Ge+her      | The Hardest Part Of ...  | 3:15 | 2000-09-02   | 91  | 87  | 82  | ... | NaN  |
| 2000 | 3 Doors Down | Kryptonite               | 3:53 | 2000-04-08   | 81  | 70  | 66  | ... | NaN  |


**After Transformation (Long Format)**:

| year | artist       | time | track                  | date       | week | rank |
|------|--------------|------|------------------------|------------|------|------|
| 2000 | 2 Pac        | 4:22 | Baby Don’t Cry         | 2000-02-26 | 1    | 87   |
| 2000 | 2 Pac        | 4:22 | Baby Don’t Cry         | 2000-03-04 | 2    | 82   |
| 2000 | 2 Pac        | 4:22 | Baby Don’t Cry         | 2000-03-11 | 3    | 72   |
| 2000 | 2Ge+her      | 3:15 | The Hardest Part Of ...| 2000-09-02 | 1    | 91   |
| 2000 | 2Ge+her      | 3:15 | The Hardest Part Of ...| 2000-09-09 | 2    | 87   |
| 2000 | 2Ge+her      | 3:15 | The Hardest Part Of ...| 2000-09-02 | 3    | 92   |
| 2000 | 3 Doors Down | 3:53 | Kryptonite             | 2000-04-08 | 1    | 81   |
| 2000 | 3 Doors Down | 3:53 | Kryptonite             | 2000-04-15 | 2    | 70   |
| 2000 | 3 Doors Down | 3:53 | Kryptonite             | 2000-04-22 | 3    | 66   |

In [1]:
billboard = pd.read_csv("data/billboard.csv")

# Your solution

### Exercise 1.2: Multiple Variables Are Stored in One Column

In the tuberculosis (TB) dataset multiple variables (e.g., sex and age group) are combined into a single column. Your goal is to separate these into distinct columns, making the dataset tidy.


#### Tasks:
1. **Reshape the Dataset**: Use `pd.melt` to convert the wide format into a long format where the demographic variables (e.g., `m014`, `f1524`) are stored in a single column.
2. **Split the Combined Column**: Extract the `sex` and `age` variables from the demographic column.
3. **Clean the Age Values**: Use the `map` method with a dictionary to convert the age codes (e.g., `014`, `1524`) into human-readable ranges (e.g., `0–14`, `15–24`).


#### Dataset Preview:
**Original Untidy Data**:

| country | year | m014 | m1524 | m2534 | m3544 | m4554 | m5564 | m65 | mu  | f014 | f1524 | f2534 |
|---------|------|------|-------|-------|-------|-------|-------|-----|-----|------|-------|-------|
| AD      | 2000 | 0    | 0     | 1     | 0     | 0     | 0     | 0   | --- | ---  | ---   | ---   |
| AE      | 2000 | 2    | 4     | 4     | 6     | 5     | 12    | 10  | --- | 3    | 6     | 5     |
| AF      | 2000 | 52   | 228   | 183   | 149   | 129   | 94    | 80  | --- | 93   | 142   | 128   |

**After Transformation (Tidy Format)**:

| country | year | sex | age  | cases |
|---------|------|-----|------|-------|
| AD      | 2000 | m   | 0–14 | 0     |
| AE      | 2000 | m   | 0–14 | 2     |
| AF      | 2000 | m   | 0–14 | 52    |
| AD      | 2000 | f   | 15–24| 0     |
| AE      | 2000 | f   | 15–24| 6     |
| AF      | 2000 | f   | 15–24| 142   |

In [ ]:
tb = pd.read_csv("data/tb_sample.csv")

# Your solution

### Exercise 1.3: Variables Are Stored in Both Rows and Columns (Bonus!)

The weather dataset contains variables such as minimum and maximum temperature (`tmin`, `tmax`) that stored across both rows and columns. Your task is to tidy the dataset by ensuring each variable is represented in its own column.



#### Tasks:
1. **Reshape the Dataset**:
   - Use `pd.melt` to gather all day columns (`d1`, `d2`, ..., `d31`) into a single column, converting the wide format into a long format.
   - Create a new `date` column by combining `year`, `month`, and the day extracted from the melted column.

2. **Separate Variables**:
   - Pivot the data so that `tmin` and `tmax` are stored as separate columns, with each row representing a unique `date`.

3. **Handle Missing Values**:
   - Remove rows where the `value` is missing (`—`).

**Hints:**
- Combine `year`, `month`, and `day` into a single `date` column using `pd.to_datetime` or string formatting.
- Use `pivot` or `unstack` to move the `element` values (`tmin`, `tmax`) into separate columns.

#### Dataset Preview
**Original Untidy Data**:

| id      | year | month | element | d1   | d2   | d3   | ... | d8  |
|---------|------|-------|---------|------|------|------|-----|------|
| MX17004 | 2010 | 1     | tmax    | —    | —    | —    | ... | —    |
| MX17004 | 2010 | 1     | tmin    | —    | —    | —    | ... | —    |
| MX17004 | 2010 | 2     | tmax    | —    | 27.3 | 24.1 | ... | —    |
| MX17004 | 2010 | 2     | tmin    | —    | 14.4 | 14.4 | ... | —    |

**After Transformation (Tidy Format)**:

| id      | date       | tmax  | tmin  |
|---------|------------|-------|-------|
| MX17004 | 2010-02-02 | 27.3  | 14.4  |
| MX17004 | 2010-02-03 | 24.1  | 14.4  |
| MX17004 | 2010-03-05 | 32.1  | 14.2  |

In [ ]:
# Your solution

### Exercise 1.4: Multiple Types of Observational Units Are Stored in the Same Table

The Billboard dataset, contains information about tracks (e.g., artist, track title, and time) as well as their rankings over time. These represent two distinct types of observational units. Your goal is to split the dataset into two separate tables:
1. One table for track information.
2. Another table for weekly rankings.


#### Steps to Complete:

1. **Extract Track Information**: Identify the unique combinations of `artist`, `track`, and `time` and assign each unique combination a unique `id`.
2. **Separate Weekly Rankings**: Create a new table for rankings, using the `id` from the track table to link the two datasets.
3. **Join Tables When Needed**: Use the `merge` function to link track information with ranking data when required for analysis.

**Hint:** Use `pd.drop_duplicates` to extract unique rows for the track table.


#### Dataset Preview
**Original Untidy Data** (Mixed Observational Units):

| year | artist          | track              | time | date       | week | rank |
|------|-----------------|--------------------|------|------------|------|------|
| 2000 | Nelly           | Country Grammar    | 4:17 | 2000-04-29 | 1    | 100  |
| 2000 | Nelly           | Country Grammar    | 4:17 | 2000-05-06 | 2    | 99   |
| 2000 | Nelly           | Country Grammar    | 4:17 | 2000-05-13 | 3    | 96   |
| 2000 | Nelly           | Country Grammar    | 4:17 | 2000-05-20 | 4    | 76   |
| 2000 | Nelly           | Country Grammar    | 4:17 | 2000-05-27 | 5    | 55   |


**After Transformation: Two Separate Tables**

1. **Track Table** (One row per unique track):

| id | artist          | track              | time |
|----|-----------------|--------------------|------|
| 1  | Nelly           | Country Grammar    | 4:17 |

2. **Rank Table** (One row per weekly ranking):

| id | date       | rank |
|----|------------|------|
| 1  | 2000-04-29 | 100  |
| 1  | 2000-05-06 | 99   |
| 1  | 2000-05-13 | 96   |
| 1  | 2000-05-20 | 76   |
| 1  | 2000-05-27 | 55   |

In [ ]:
# Use the billboard dataframe from exercise 1.2, after transforming it into a long format.

# Your solution

### Exercise 2: Visualizing the Palmer Penguins Dataset with Seaborn

The Palmer Penguins dataset provides information about three penguin species—Adélie, Chinstrap, and Gentoo—observed in Antarctica. This dataset contains details such as body mass, flipper length, and bill dimensions, making it ideal for data visualization practice.

#### Dataset Overview
The dataset includes the following key columns:
- `species`: The penguin species (Adélie, Chinstrap, Gentoo).
- `island`: The island where the penguins were observed.
- `bill_length_mm`: Length of the penguin's bill (in millimeters).
- `bill_depth_mm`: Depth of the penguin's bill (in millimeters).
- `flipper_length_mm`: Length of the penguin's flipper (in millimeters).
- `body_mass_g`: Body mass of the penguin (in grams).
- `sex`: The penguin's sex (male, female).

The dataset can be loaded directly from the seaborn repository using the URL with `pd.read_csv(url)`:  
<https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv>

In the previous tutorial, we briefly explored how to create plots using **matplotlib**. Today, we will focus on **seaborn**, a powerful Python library built on top of matplotlib that allows us to create elegant and informative visualizations with minimal effort. By using seaborn, we can generate complex and aesthetically pleasing plots with just a few lines of code.

#### Tasks

1. **Visualize the Distribution of Flipper Length**:
   - Create a histogram or kernel density plot (KDE) of `flipper_length_mm`, with the distributions differentiated by `species` using the `hue` parameter.

2. **Explore the Relationship Between Body Mass and Flipper Length**:
   - Use a scatter plot to visualize the relationship between `body_mass_g` and `flipper_length_mm`.
   - Differentiate the points by `species` using the `hue` parameter and use distinct markers for each species.

3. **Compare Body Mass Across Species**:
   - Create a boxplot to compare the distributions of `body_mass_g` across the three penguin species.

4. **Analyze Pairwise Relationships**:
   - Generate a pair plot for the numerical variables (`bill_length_mm`, `bill_depth_mm`, `flipper_length_mm`, `body_mass_g`), with the points colored by `species`. Use a KDE plot for the diagonal.

In [ ]:
# Your solution

### Exercise 3: Analyzing Stock Correlations and Volatility with Yahoo Finance Data

With thousands of stocks being traded daily, making informed decisions about portfolio composition requires extracting meaningful insights from stock data. One useful strategy involves identifying **low-correlation stocks** to minimize portfolio risk, as combining such stocks helps diversify the portfolio and reduce its overall volatility.

In this exercise, you will:
1. **Download stock data** using the `yfinance` library for a list of tickers.
2. **Calculate daily returns and correlations** between stock pairs.
3. **Determine the two stocks with the lowest correlation** for potential use in hedging strategies.

#### Why Low-Correlation Stocks?
When combining two stocks with low or negative correlation:
- The **expected return** of the portfolio is unaffected by the correlation and is given by:
  
  $$
  \mu_p = w_1 \mu_1 + w_2 \mu_2
  $$
  
  where:
  - $ w_1, w_2 $: Portfolio weights for the two stocks.
  - $ \mu_1, \mu_2 $: Expected returns of the two stocks.

- The **volatility** of the portfolio, however, is reduced and depends on the correlation ($ \rho $):

  $$
  \sigma_p = \sqrt{w_1^2 \sigma_1^2 + w_2^2 \sigma_2^2 + 2 w_1 w_2 \sigma_1 \sigma_2 \rho}
  $$

  where:
  - $ \sigma_1, \sigma_2 $: Volatilities of the two stocks.
  - $ \rho $: Correlation between the two stocks.

This formula highlights that lowering the correlation ($ \rho $) reduces the portfolio's overall volatility ($ \sigma_p $), making it an essential consideration for diversification and risk reduction.



#### Tasks
1. **Read the list of stock tickers**:
   - Read a text file (`sp500-ticker-list.txt`) containing a list of stock tickers.

2. **Download stock data**:
   - Use the `yfinance` library to fetch historical data from 2000 and 2024 for each stock.
   - Save the data to individual CSV files in a `stock_data/` directory.

3. **Calculate daily returns**:
   - Compute the daily returns as the percentage change of adjusted closing prices for each stock.

4. **Calculate the correlation matrix**:
   - Use NumPy to compute the correlation matrix of the daily returns.

5. **Find the two least correlated stocks**:
   - Identify the two stocks with the lowest correlation from the matrix.

In [ ]:
# Your solution